ConsumidorServicioWeb/Connected Services/WServicioWebReporteFactura/wsReporte1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="reporteFactura">
        <s:complexType />
      </s:element>
      <s:element name="reporteFacturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reporteFacturaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="reporteFacturaSoapIn">
    <wsdl:part name="parameters" element="tns:reporteFactura" />
  </wsdl:message>
  <wsdl:message name="reporteFacturaSoapOut">
    <wsdl:part name="parameters" element="tns:reporteFacturaResponse" />
  </wsdl:message>
  <wsdl:portType name="wsReporteSoap">
    <wsdl:operation name="reporteFactura">
      <wsdl:input message="tns:reporteFacturaSoapIn" />
      <wsdl:output message="tns:reporteFacturaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsReporteSoap" type="tns:wsReporteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="reporteFactura">
      <soap:operation soapAction="http://tempuri.org/reporteFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsReporteSoap12" type="tns:wsReporteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="reporteFactura">
      <soap12:operation soapAction="http://tempuri.org/reporteFactura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsReporte">
    <wsdl:port name="wsReporteSoap" binding="tns:wsReporteSoap">
      <soap:address location="http://localhost/sistemaGasolinera/wsReporte.asmx" />
    </wsdl:port>
    <wsdl:port name="wsReporteSoap12" binding="tns:wsReporteSoap12">
      <soap12:address location="http://localhost/sistemaGasolinera/wsReporte.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>