ConsumidorServicioWeb/Connected Services/WServicioWebCliente/wsCliente1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="listado_clientes">
        <s:complexType />
      </s:element>
      <s:element name="listado_clientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listado_clientesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="datos_cliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCliente" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="datos_clienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datos_clienteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertar_cliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nit" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="telefono" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertar_clienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertar_clienteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizar_cliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCliente" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nit" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="telefono" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizar_clienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actualizar_clienteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminar_cliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCliente" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminar_clienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminar_clienteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="listado_clientesSoapIn">
    <wsdl:part name="parameters" element="tns:listado_clientes" />
  </wsdl:message>
  <wsdl:message name="listado_clientesSoapOut">
    <wsdl:part name="parameters" element="tns:listado_clientesResponse" />
  </wsdl:message>
  <wsdl:message name="datos_clienteSoapIn">
    <wsdl:part name="parameters" element="tns:datos_cliente" />
  </wsdl:message>
  <wsdl:message name="datos_clienteSoapOut">
    <wsdl:part name="parameters" element="tns:datos_clienteResponse" />
  </wsdl:message>
  <wsdl:message name="insertar_clienteSoapIn">
    <wsdl:part name="parameters" element="tns:insertar_cliente" />
  </wsdl:message>
  <wsdl:message name="insertar_clienteSoapOut">
    <wsdl:part name="parameters" element="tns:insertar_clienteResponse" />
  </wsdl:message>
  <wsdl:message name="actualizar_clienteSoapIn">
    <wsdl:part name="parameters" element="tns:actualizar_cliente" />
  </wsdl:message>
  <wsdl:message name="actualizar_clienteSoapOut">
    <wsdl:part name="parameters" element="tns:actualizar_clienteResponse" />
  </wsdl:message>
  <wsdl:message name="eliminar_clienteSoapIn">
    <wsdl:part name="parameters" element="tns:eliminar_cliente" />
  </wsdl:message>
  <wsdl:message name="eliminar_clienteSoapOut">
    <wsdl:part name="parameters" element="tns:eliminar_clienteResponse" />
  </wsdl:message>
  <wsdl:portType name="wsClienteSoap">
    <wsdl:operation name="listado_clientes">
      <wsdl:input message="tns:listado_clientesSoapIn" />
      <wsdl:output message="tns:listado_clientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="datos_cliente">
      <wsdl:input message="tns:datos_clienteSoapIn" />
      <wsdl:output message="tns:datos_clienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertar_cliente">
      <wsdl:input message="tns:insertar_clienteSoapIn" />
      <wsdl:output message="tns:insertar_clienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizar_cliente">
      <wsdl:input message="tns:actualizar_clienteSoapIn" />
      <wsdl:output message="tns:actualizar_clienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminar_cliente">
      <wsdl:input message="tns:eliminar_clienteSoapIn" />
      <wsdl:output message="tns:eliminar_clienteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsClienteSoap" type="tns:wsClienteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listado_clientes">
      <soap:operation soapAction="http://tempuri.org/listado_clientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="datos_cliente">
      <soap:operation soapAction="http://tempuri.org/datos_cliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertar_cliente">
      <soap:operation soapAction="http://tempuri.org/insertar_cliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizar_cliente">
      <soap:operation soapAction="http://tempuri.org/actualizar_cliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminar_cliente">
      <soap:operation soapAction="http://tempuri.org/eliminar_cliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsClienteSoap12" type="tns:wsClienteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listado_clientes">
      <soap12:operation soapAction="http://tempuri.org/listado_clientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="datos_cliente">
      <soap12:operation soapAction="http://tempuri.org/datos_cliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertar_cliente">
      <soap12:operation soapAction="http://tempuri.org/insertar_cliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizar_cliente">
      <soap12:operation soapAction="http://tempuri.org/actualizar_cliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminar_cliente">
      <soap12:operation soapAction="http://tempuri.org/eliminar_cliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsCliente">
    <wsdl:port name="wsClienteSoap" binding="tns:wsClienteSoap">
      <soap:address location="http://localhost/sistemaGasolinera/wsCliente.asmx" />
    </wsdl:port>
    <wsdl:port name="wsClienteSoap12" binding="tns:wsClienteSoap12">
      <soap12:address location="http://localhost/sistemaGasolinera/wsCliente.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>