ConsumidorServicioWeb/Connected Services/WServicioWebVenta/wsVenta1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="listado_venta">
        <s:complexType />
      </s:element>
      <s:element name="listado_ventaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listado_ventaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="datos_venta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NoFactura" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="datos_ventaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datos_ventaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertar_venta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idClientes" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idEmpleados" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idFormaPago" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idTipoGasolina" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="NoBombaGasolina" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Fecha" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MontoTotal" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="CantidadComprada" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertar_ventaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertar_ventaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizar_venta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NoFactura" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idClientes" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idEmpleados" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idFormaPago" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idTipoGasolina" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="NoBombaGasolina" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Fecha" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MontoTotal" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="CantidadComprada" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizar_ventaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actualizar_ventaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminar_cliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NoFactura" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminar_clienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminar_clienteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="listado_ventaSoapIn">
    <wsdl:part name="parameters" element="tns:listado_venta" />
  </wsdl:message>
  <wsdl:message name="listado_ventaSoapOut">
    <wsdl:part name="parameters" element="tns:listado_ventaResponse" />
  </wsdl:message>
  <wsdl:message name="datos_ventaSoapIn">
    <wsdl:part name="parameters" element="tns:datos_venta" />
  </wsdl:message>
  <wsdl:message name="datos_ventaSoapOut">
    <wsdl:part name="parameters" element="tns:datos_ventaResponse" />
  </wsdl:message>
  <wsdl:message name="insertar_ventaSoapIn">
    <wsdl:part name="parameters" element="tns:insertar_venta" />
  </wsdl:message>
  <wsdl:message name="insertar_ventaSoapOut">
    <wsdl:part name="parameters" element="tns:insertar_ventaResponse" />
  </wsdl:message>
  <wsdl:message name="actualizar_ventaSoapIn">
    <wsdl:part name="parameters" element="tns:actualizar_venta" />
  </wsdl:message>
  <wsdl:message name="actualizar_ventaSoapOut">
    <wsdl:part name="parameters" element="tns:actualizar_ventaResponse" />
  </wsdl:message>
  <wsdl:message name="eliminar_clienteSoapIn">
    <wsdl:part name="parameters" element="tns:eliminar_cliente" />
  </wsdl:message>
  <wsdl:message name="eliminar_clienteSoapOut">
    <wsdl:part name="parameters" element="tns:eliminar_clienteResponse" />
  </wsdl:message>
  <wsdl:portType name="wsVentaSoap">
    <wsdl:operation name="listado_venta">
      <wsdl:input message="tns:listado_ventaSoapIn" />
      <wsdl:output message="tns:listado_ventaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="datos_venta">
      <wsdl:input message="tns:datos_ventaSoapIn" />
      <wsdl:output message="tns:datos_ventaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertar_venta">
      <wsdl:input message="tns:insertar_ventaSoapIn" />
      <wsdl:output message="tns:insertar_ventaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizar_venta">
      <wsdl:input message="tns:actualizar_ventaSoapIn" />
      <wsdl:output message="tns:actualizar_ventaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminar_cliente">
      <wsdl:input message="tns:eliminar_clienteSoapIn" />
      <wsdl:output message="tns:eliminar_clienteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsVentaSoap" type="tns:wsVentaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listado_venta">
      <soap:operation soapAction="http://tempuri.org/listado_venta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="datos_venta">
      <soap:operation soapAction="http://tempuri.org/datos_venta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertar_venta">
      <soap:operation soapAction="http://tempuri.org/insertar_venta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizar_venta">
      <soap:operation soapAction="http://tempuri.org/actualizar_venta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminar_cliente">
      <soap:operation soapAction="http://tempuri.org/eliminar_cliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsVentaSoap12" type="tns:wsVentaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listado_venta">
      <soap12:operation soapAction="http://tempuri.org/listado_venta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="datos_venta">
      <soap12:operation soapAction="http://tempuri.org/datos_venta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertar_venta">
      <soap12:operation soapAction="http://tempuri.org/insertar_venta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizar_venta">
      <soap12:operation soapAction="http://tempuri.org/actualizar_venta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminar_cliente">
      <soap12:operation soapAction="http://tempuri.org/eliminar_cliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsVenta">
    <wsdl:port name="wsVentaSoap" binding="tns:wsVentaSoap">
      <soap:address location="http://localhost/sistemaGasolinera/wsVenta.asmx" />
    </wsdl:port>
    <wsdl:port name="wsVentaSoap12" binding="tns:wsVentaSoap12">
      <soap12:address location="http://localhost/sistemaGasolinera/wsVenta.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>