ConsumidorServicioWeb/Connected Services/WServicioWebReporteVentas/wsReporteVentas1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="reporteVenta">
        <s:complexType />
      </s:element>
      <s:element name="reporteVentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reporteVentaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="reporteVentaSoapIn">
    <wsdl:part name="parameters" element="tns:reporteVenta" />
  </wsdl:message>
  <wsdl:message name="reporteVentaSoapOut">
    <wsdl:part name="parameters" element="tns:reporteVentaResponse" />
  </wsdl:message>
  <wsdl:portType name="wsReporteVentasSoap">
    <wsdl:operation name="reporteVenta">
      <wsdl:input message="tns:reporteVentaSoapIn" />
      <wsdl:output message="tns:reporteVentaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsReporteVentasSoap" type="tns:wsReporteVentasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="reporteVenta">
      <soap:operation soapAction="http://tempuri.org/reporteVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsReporteVentasSoap12" type="tns:wsReporteVentasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="reporteVenta">
      <soap12:operation soapAction="http://tempuri.org/reporteVenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsReporteVentas">
    <wsdl:port name="wsReporteVentasSoap" binding="tns:wsReporteVentasSoap">
      <soap:address location="http://localhost/sistemaGasolinera/wsReporteVentas.asmx" />
    </wsdl:port>
    <wsdl:port name="wsReporteVentasSoap12" binding="tns:wsReporteVentasSoap12">
      <soap12:address location="http://localhost/sistemaGasolinera/wsReporteVentas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>