ConsumidorServicioWeb/Connected Services/WServicioWebTipoGasolina/wsTipoGasolina1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="precios_gasolina">
        <s:complexType />
      </s:element>
      <s:element name="precios_gasolinaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="precios_gasolinaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="tipoGas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTipoGas" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="tipoGasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tipoGasResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizar_tipoGas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTipoGas" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="precio" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizar_tipoGasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actualizar_tipoGasResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="precios_gasolinaSoapIn">
    <wsdl:part name="parameters" element="tns:precios_gasolina" />
  </wsdl:message>
  <wsdl:message name="precios_gasolinaSoapOut">
    <wsdl:part name="parameters" element="tns:precios_gasolinaResponse" />
  </wsdl:message>
  <wsdl:message name="tipoGasSoapIn">
    <wsdl:part name="parameters" element="tns:tipoGas" />
  </wsdl:message>
  <wsdl:message name="tipoGasSoapOut">
    <wsdl:part name="parameters" element="tns:tipoGasResponse" />
  </wsdl:message>
  <wsdl:message name="actualizar_tipoGasSoapIn">
    <wsdl:part name="parameters" element="tns:actualizar_tipoGas" />
  </wsdl:message>
  <wsdl:message name="actualizar_tipoGasSoapOut">
    <wsdl:part name="parameters" element="tns:actualizar_tipoGasResponse" />
  </wsdl:message>
  <wsdl:portType name="wsTipoGasolinaSoap">
    <wsdl:operation name="precios_gasolina">
      <wsdl:input message="tns:precios_gasolinaSoapIn" />
      <wsdl:output message="tns:precios_gasolinaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="tipoGas">
      <wsdl:input message="tns:tipoGasSoapIn" />
      <wsdl:output message="tns:tipoGasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizar_tipoGas">
      <wsdl:input message="tns:actualizar_tipoGasSoapIn" />
      <wsdl:output message="tns:actualizar_tipoGasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsTipoGasolinaSoap" type="tns:wsTipoGasolinaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="precios_gasolina">
      <soap:operation soapAction="http://tempuri.org/precios_gasolina" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tipoGas">
      <soap:operation soapAction="http://tempuri.org/tipoGas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizar_tipoGas">
      <soap:operation soapAction="http://tempuri.org/actualizar_tipoGas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsTipoGasolinaSoap12" type="tns:wsTipoGasolinaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="precios_gasolina">
      <soap12:operation soapAction="http://tempuri.org/precios_gasolina" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tipoGas">
      <soap12:operation soapAction="http://tempuri.org/tipoGas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizar_tipoGas">
      <soap12:operation soapAction="http://tempuri.org/actualizar_tipoGas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsTipoGasolina">
    <wsdl:port name="wsTipoGasolinaSoap" binding="tns:wsTipoGasolinaSoap">
      <soap:address location="http://localhost/sistemaGasolinera/wsTipoGasolina.asmx" />
    </wsdl:port>
    <wsdl:port name="wsTipoGasolinaSoap12" binding="tns:wsTipoGasolinaSoap12">
      <soap12:address location="http://localhost/sistemaGasolinera/wsTipoGasolina.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>